# git files and folders
.git/
.gitignore
LICENSE*

# R files and folders
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
.Renviron
.Rproj

# knitr and R markdown default cache directories
*_cache/
/cache/
*.utf8.md
*.knit.md

# personal files and folders
data/
notes&writeup/
output/
*.zip
*.png
*.docx
scripts/ChIPQC*.R
scripts/density_plots_peaks_FT*.R
scripts/NA_motifs.sh
scripts/peakAnnotation.R